<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Spor_merkezi_uygulamasi.Properties.Settings.kisilerConnectionString"
            connectionString="Data Source=PUDDI\SQLEXPRESS;Initial Catalog=kisiler;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Spor_merkezi_uygulamasi.Properties.Settings.SpormerkeziConnectionString"
            connectionString="Data Source=PUDDI\SQLEXPRESS;Initial Catalog=Spormerkezi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>